html, body
{
	font-family: helvetica;
	background-color: #88c557;
}



body header
{
	font-family: helvetica;
	font-size: 4em;
	background-color: white;
	color: #5ab1a7;
	text-align: center;
	font-style:italic;
	padding-top: 0.1em;
}

h1
{
	text-align:center;
	background-color:  #88c557;
	color: green;
	margin:0;
	padding-top: 0.5em;
	padding-bottom: 0.2em;
	font-size:2.5em;
}



div.menu
{
	position: absolute;
	top: 9.3em;
	float:left;
	display:block;
	padding:1em;
	padding-right:0;
	padding-left:2em;
	margin-right: 1em;
	height:100%;
	display:table-column;
}

div.menu > ul
{
	display: block;
	list-style-type:none;
	margin:0;
	padding:0;
}

div.menu > ul > li
{
	margin:0;
}

div.menu > ul > li a
{
	display:block;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right:2em;
	background-color:#5ab1a7;
	border: 0.15em solid #88c557;
	padding-left:0.7em;
	text-decoration:none;
	font-size:1.2em;
	color:white;
	margin-bottom: 2px;
	margin-left: -1em;
}

div.menu > ul > li a:link
{
	color:white;

}

div.menu > ul > li a:hover
{
	background-color: #5ab1a7;
}

div.menu > h2
{
	padding:0;
	padding-bottom: 8px;
	margin:0;
	color:white;
	text-align: left;
	font-size:2em;
	margin-left: -1em
}

ul
{
	list-style-type: none;
}

ul#menu li.current
{
	background-color:white;
	color:black;
}

div.content
{
	color: black;
	background-color: white /*#88c557*/;
	margin-left: 16em;
	margin-top: 1em;
	line-height: 1.8em;
}

footer
{
	background-color:white;
	height:100%;
}
