html, body
{
	font-family: helvetica;
	background-color: #88c557;
}

body header
{
	font-family: helvetica;
	font-size: 4em;
	background-color: white;
	color: green;
	text-align: center;
	font-style:italic;
	padding-top: 0.3em;
}

h1
{
	text-align:center;
	background-color: white;
	color: green;
	margin:0;
	padding:0.5em;
	font-size:2.5em;
}



div.menu
{
	float:left;
	display:block;
	background-color:#88c557;
	padding:1em;
	padding-right:0;
	padding-left:2.3em;
	margin-right: 1em;
	height:100%;
	display:table-column;
}

div.menu > ul
{
	display: block;
	list-style-image: url("../images/favicon.png");
	margin:0;
	padding:0;
}

div.menu > ul > li
{
	margin:0;
}

div.menu > ul > li a
{
	display:block;
	padding-right:2em;
	background-color:green;
	border: 0.15em solid #88c557;
	padding-left:0.7em;
	text-decoration:none;
	font-size:1.2em;
	color:white;
}

div.menu > ul > li a:link
{
	color:white;
}


div.menu > ul > li a:visited
{
	color:white;
	background-color: #88c557;
}

div.menu > ul > li a:hover
{
	color:black;
}

div.menu > h2
{
	padding:0;
	margin:0;
	color:white;
	text-align: left;
	font-size:2em;
	margin-left: -1em
}

ul
{
	list-style-type: none;
}

ul#menu li.current
{
	background-color:white;
	color:black;
}

div.content
{
	color: black;
	background-color: white;
}

div.content li
{
	margin: 1em 0;
}

footer
{
	background-color:white;
	height:100%;
}
